__pycache__/
*__pycache__*
librispeech_log_dir/
librispeech_ckpt_model_dir/
librispeech_ckpt_model_dir_new_bp/
librispeech_log_dir_new_bp/
LibriSpeech/alignments
LibriSpeech/PPGs
LibriSpeech/MFCCs
LibriSpeech/wavs_16000_960
librispeech_log_dir_bp_25/
librispeech_ckpt_model_dir_bp_25/
DataBaker-English-PPG/
LJSpeech-1.1-English-PPG/
*.txt
DataBaker-English-PPG-old/
LJSpeech-1.1-English-PPG-old/
librispeech_ckpt_model_dir_v2_v3_backup/
inference_findA_CE_PPG_log_dir/
inference_findA_CE_PPG_v3_log_dir/
librispeech_cpulstm_ckpt_model_dir/
librispeech_cpulstm_log_dir/
EN-PPG_databaker/
EN-PPG_ljspeech/