__pycache__/
*__pycache__*
librispeech_log_dir/
librispeech_ckpt_model_dir/
librispeech_ckpt_model_dir_new_bp/
librispeech_log_dir_new_bp/
LibriSpeech/alignments
LibriSpeech/PPGs
LibriSpeech/MFCCs
LibriSpeech/wavs_16000_960
*.txt